body{
    width: 95%;
    margin: 0 auto;
    color: white
}

#header{
    width: 60%; 
    overflow: auto;
    background-color: burlywood;
    margin: 0 auto;
}

#content{
    margin: 0 auto;
    width: 60%;
    background-color: blue;
    overflow: auto;
}
.col1{
    width: 20%;
    border: 1px solid black;
    float: left;
    margin: 1px; 
}
.col2{
    width: 20%;
    border: 1px solid black;
    float: left;
    margin: 1px;
}
.col3{
    width: 20%;
    border: 1px solid black;
    float: left;
    margin: 1px;
}